{%load static%}

<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8" />
    <title>
    {%block tittle%}
    {% endblock %}
    Sitio Web con Django 
        
    </title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css'%}"/>

</head>



<body>
    
    <!-- Cabecera de la pagina  -->
    <header>
        <div id="logotipo">
            <!-- logo de django -->
            <img src="{% static 'images/logo.png'%}" />
            <h1>Sitio web con Django</h1>
        </div>
        
    </header>
    <nav>
        <ul>
            <li>
                <a href="/inicio">inicio</a>
            </li>
            <li>
                <a href="/hola-mundo">Hola mundo </a>
            </li>
            <li>
                <a href="/pagina">Pagina de pruebas</a>
            </li>
            <li>
                <a href="/contacto-dos">contacto</a>
            </li>
    
    
        </ul>

    </nav>
    <div class="barra">
        <span class="esquina-izquierda"></span>
        <span class="relleno barra"></span>
        <span class="esquina-derecha"></span>
    </div>

    <div id="content">
        <h2 class="tittle">Titulo de prueba</h2>
        {% block content %}
        <!-- Codigo que viene en templates-->
        <strong>Contenido del bloque original</strong>
        {% endblock %}
    </div>
     
   <footer>
       Master en Python|Djando
   </footer> 
</body>

</html>